<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}IntelliIQ{% endblock %}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

    <!-- GLOBAL STYLES -->
   <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<!-- NAVBAR (GLOBAL) -->
<div class="navbar">
    <div class="nav-title">
        ⚙️ Ops Intelligence Hub - by {{ app_owner }}
        <Br><span style="font-size:18px;">
        <a href="/help" class="help-link" title="How to use this application">
            ❓ Help
        </a></span>
    </div>
     
    

    {% include "navbar.html" %}
</div>

<!-- MAIN CONTENT -->
<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>