


<div class="nav-links">

    <span class="subtle" style="margin-right:10px;">🔗 Menu:</span>

    <a href="/" class="{% if active_page == 'home' %}active-link{% endif %}">🏠 Home</a>

    <a href="/insurance_copilot" class="{% if active_page == 'copilot' %}active-link{% endif %}">
        🤖 Insurance Copilot
    </a>

    <a href="/system_advisor" class="{% if active_page == 'advisor' %}active-link{% endif %}">
    🧠 System Advisor
</a>

    <a href="/dashboard" class="{% if active_page == 'dashboard' %}active-link{% endif %}">
        📊 Incident Dashboard
    </a>

    <a href="/rca" class="{% if active_page == 'rca' %}active-link{% endif %}">
        🧾 RCA Generator
    </a>

    <a href="/ticket_dashboard" class="{% if active_page == 'tickets' %}active-link{% endif %}">
        🎟 Tickets Dashboard
    </a>

    <a href="/problem_dashboard" class="{% if active_page == 'problem' %}active-link{% endif %}">
    🧩 Problem Dashboard
    </a>

    <a href="/critical_metrics" class="{% if active_page == 'metrics' %}active-link{% endif %}">
        📈 Critical Metrics
    </a>



    <a href="/control_tower" class="{% if active_page == 'control' %}active-link{% endif %}">
        🧭 Control Tower
    </a>

  <!--  <a href="/operations_insights" class="{% if active_page == 'insights' %}active-link{% endif %}">
      📊 Operations Insights
    </a>-->

</div>